.navbar {
  background-color: #04c4cc;
  border-color: #04c4cc;
}

.jumbotron {
  background-color: #fff;
  color: #04c4cc;
}

.btn {
  background-color: #04c4cc;
  border-color: #04c4cc;
}
.btn:hover {
  background-color: #82e2e5;
  border-color: #82e2e5;
}
.btn-danger {
  background-color: red;
  border-color: red;
}

#video {
  width: 100%;
  height: auto;
  margin: auto;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.title {
  font-weight: bold;
}

.delete-btn {
  margin-bottom: 50px;
}
.post-btn {
  margin-bottom: 50px;
}
